.specific-container{
    width: 100%;
    max-width: 1250px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specific-box1{
    width: 60%;
    max-width: 95%;
}
.specific-box1 h1{
    font-size: 40px;
    margin-bottom: 3rem;
}
.specific-box1 h2{
    font-size: 30px;
    margin-bottom: 1.3rem;
    color: #7b0493;
    font-weight: bold;
}
.specific-box1 p{
    color: rgb(154, 158, 158);
    margin-bottom: 2rem;
}
.specific-img{
    width: 30%;
}
.specific-img img{
    width: 100%;
    height: auto;
}
