
.input-cont{
    width: 50rem;
    max-width: 95%;
    margin: 1rem auto;
    background-color: rgb(150, 102, 196);
    padding: 1.5rem 5rem;
    border: 2px solid #000;
}

.inputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.inputs input:focus,
.inputs select{
    outline: none;
}
.inputs div{
    margin-top: 1rem;
}
.inputs div label {
    color: #fff;
    font-size: 20px;
}
.inputs div input,
.inputs div select{
    width: 200px;
    padding: 0.2rem 0.4rem;
    margin-top: 2rem;
    border-radius: 4px;
    border: none;
}
.btn-div{
    text-align: right;
    margin-top: 2rem;
}
.btn-div .forms-btn{
    padding: 0.8rem 2rem;
    background-color: rgb(101, 41, 158);
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 4px;
}
.course-btn{
    padding: 1.2rem 3rem;
    background-color: rgb(101, 41, 158);
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 4px;
}
.container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Course-container{
    width: 95%;
    margin: 5rem auto;
    max-width: 1250px;
}
.Course-container h1{
    text-align: center;
    font-size: 40px;
}

.course-titles{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.course-title{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.course-titles h2{
    font-size: 30px;
    color: rgb(109, 105, 105);
}
.course-titles .course-number{
    font-size: 35px;
}
.programming-container h3{
    color: #1291c7;
    font-size: 35px;
    margin-bottom: 1.4rem;
}
.programming-container p{
    margin-bottom: 1rem;
    color: rgb(109, 105, 105);
}
.programming-container p span{
    color: #000;
}
.textarea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.textarea textarea{
    width: 200px;
    max-width: 95%;
    height: 50px;
    margin: 10px;
    border-radius: 4px;
}

@media(max-width: 768px){
    .input-cont{
        margin: 1rem auto;
        background-color: rgb(150, 102, 196);
        padding: 0.2rem 1rem;
        border: 2px solid #000;
        width: 80%;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .course-titles{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}